.card-2 {
   
    
    background-image: url("https://images.unsplash.com/photo-1564889956728-9f3e4ad65498?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  
    background-size: contain;
    
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    min-width: fit-content;
    justify-content: center;
    color: white;
  }

  

  .card-3{
    border-radius: 10px;
    background-size: cover;
    backdrop-filter: blur(100px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: white;
  }
  .modal-backdrop {
    --bs-backdrop-zindex: -1 !important;
}
  .sd{
    backdrop-filter: blur(100px);
  }
  

